.row2 {
    border-bottom: 1px solid #dedede;
    padding: 10px;
    margin: 0;
    display: flex;
    cursor: pointer;
}

.row2::after {
  content: "";
  clear: both;
  display: table;
}

.row2:hover {
  background-color: #00B1FF;
}


.h2-border {
    border-bottom: 1px solid #dedede;
    padding: 10px;
    margin: 0;
}

.left-col {
    width: 70%;
}

.right-col {
    width: 30%;
}

.time-right {
    float: right;
    color: #aaa;
}
